# Server configuration
PORT=5000
NODE_ENV=development

# MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/cricket_tracker?retryWrites=true&w=majority

# CORS Allowed Origin (set to your frontend's deployed URL in production)
FRONTEND_URL=https://cricket-score-tracker-rho.vercel.app
